---
layout: default
---
<h1>{{ site.title }}</h1>
<div class="hero">
    <p>
        Hi I'm <a href="mailto:pierre.mallinjoud@gmail.com">Pierre Mallinjoud</a>!
    </p>
    <p>
        I'm a php developer - maintainer of the <a href="https://github.com/ellipsephp" target="_blank">ellipse</a> project.
        This blog is a place where I present ellipse packages and share my through about web development.
    </p>
</div>
<h2>Latest articles</h2>
<section class="sumup">
    {% assign posts = site.posts | sort: 'date' | reverse %}
    {% for post in posts limit:10 %}
    <article class="sumup" itemscope itemtype="http://schema.org/CreativeWork">
        <header class="title">
            <h3 itemprop="headline">
                {% if post.image %}
                <div class="bg" style="background-image: url('/images/{{ post.image }}')"></div>
                {% endif %}
                <a href="{{ post.url }}" rel="permalink">
                    {{ post.title }}
                </a>
            </h3>
        </header>
        <section itemprop="text">
            {{ post.excerpt | markdownify | strip_newlines }}
            <p>
                <small>
                    Posted on
                    <time datetime="{{ page.date | date_to_xmlschema }}">
                        {{ post.date | date: "%B %d, %Y" }}
                    </time>
                </small>
            </p>
        </section>
    </article>
    <hr>
    {% endfor %}
</section>
