#post {
    margin-top: 8em;
    article {
        header {
            h1 {
                line-height: 1;
                padding-bottom: 0.2em;
                font-size: $type-size-1;
                margin: 0;
                font-weight: bold;
            }
            p {
                color: mix(#fff, $gray, 25%);
                font-size: $type-size-5;
                margin: 0;
            }
        }
    }
}
