html, body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 956px;
    padding: 0 1em;
    margin: 0 auto;
}

footer {
    max-width: 100%;
    text-align: center;
    padding: 1em 0;
    font-size: 0.8em;
}
