html, body {
    margin: 0;
    padding: 0;
}

.wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex-grow: 1;
    max-width: 956px;
    margin: 0 auto;
    padding: 0 1em;
}

footer {
    width: 100%;
    text-align: center;
    padding: 1em 0;
    font-size: 0.8em;
}
