body {
    font-family: 'Heebo', sans-serif;
    color: #444;
}

.container {
    max-width: 956px;
    margin: 0 auto;
    padding: 0 1em;
}

h1, h2, h3, h4, h5, h6, a {
    color: #0e83cd;
}

h1, h2, header.headline {
    border-bottom: 1px solid #eee;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

small {
    color: #888;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #eee;
    margin: 1em auto;
    padding: 0;
}

header.title {
    h1, h2 {
        border-bottom: none;
    }
}

header.headline {
    small {
        font-size: 1em;
    }
}

@media (min-width: 43.75em) {
    article.sumup {
        display: table;
        header, section {
            display: table-cell;
            vertical-align: top;
        }
        header {
            h2, p {
                margin: 0;
            }
            a {
                display: block;
                font-size: 0.8em;
                text-align: right;
                &:hover {
                    margin-top: 1px;
                    margin-bottom: -1px;
                    text-decoration: none;
                }
            }
        }
        section {
            p {
                margin: 1em;
            }
            p:first-of-type {
                margin-top: 0;
            }
            p:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

pre.highlight {
    margin: 2em 0;
    overflow-y: auto;
}
