<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ellipse blog</title>
        <link href="" rel="stylesheet">
        <link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url }}">
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    </head>
    <body>
        <main class="container">
            <header>
                <nav>
                    <ul>
                        <li>
                            <a href="#"><i class="fab fa-github"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-envelope"></i></a>
                        </li>
                    </ul>
                </nav>
            </header>
            <section>
                {{ content }}
            </section>
        </main>
    </body>
</html>
