<!doctype html>
<html lang="en">
    <head>
        {% site.analytics %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', '{{ site.analytics }}');
        </script>
        {% endif %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% site.verification %}
        <meta name="google-site-verification" content="{{ site.verification }}" />
        {% endif %}
        <meta property="og:url" content="{{ page.url | absolute_url }}">
        <meta property="og:type" content="article">
        <meta property="og:locale" content="{{ site.locale }}">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@{{ site.twitter }}">
        <meta name="twitter:creator" content="@{{ site.twitter }}">
        {% if page.title %}
        <meta property="og:title" content="{{ page.title }}">
        <meta name="twitter:title" content="{{ page.title }}">
        {% else %}
        <meta property="og:title" content="{{ site.title }}">
        <meta name="twitter:title" content="{{ site.title }}">
        {% endif %}
        {% if page.excerpt %}
        <meta property="og:description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">
        <meta name="twitter:description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">
        {% else %}
        <meta property="og:description" content="{{ site.description }}">
        <meta name="twitter:description" content="{{ site.description }}">
        {% endif %}
        {% if page.image %}
        <meta property="og:image" content="{{ site.url }}/images/{{ page.image }}">
        <meta name="twitter:image" content="{{ site.url }}/images/{{ page.image }}">
        {% else %}
        <meta property="og:image" content="{{ site.url }}/images/{{ site.image }}">
        <meta name="twitter:image" content="{{ site.url }}/images/{{ site.image }}">
        {% endif %}
        <link href="" rel="stylesheet">
        <link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url }}">
        {% feed_meta %}
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        <title>{{ site.title }}</title>
    </head>
    <body>
        <header class="container">
            <nav>
                <ul>
                    <li>
                        <a href="/" title="home">
                            <i class="fas fa-home"></i>
                        </a>
                    </li>
                    {% if site.github %}
                    <li>
                        <a href="https://github.com/{{ site.github }}" title="{{ site.github }}" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.twitter %}
                    <li>
                        <a href="https://twitter.com/{{ site.twitter }}" title="{{ site.twitter }}" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.email %}
                    <li>
                        <a href="mailto:{{ site.email }}" title="{{ site.email }}" target="_blank">
                            <i class="fas fa-envelope"></i>
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{{ '/feed.xml' | absolute_url }}" title="rss feed" target="_blank">
                            <i class="fas fa-rss"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <main role="main" class="container">
            {{ content }}
        </main>
        <footer>
            Powered by
            <a href="https://jekyllrb.com/" target="_blank">Jekyll</a>
            and
            <a href="https://pages.github.com/" target="_blank">Github pages</a>.
        </footer>
    </body>
</html>
