---
layout: default
---
<article itemscope itemtype="http://schema.org/CreativeWork">

    {% if page.title %}<meta itemprop="headline" content="{{ page.title | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}

    <header class="headline title">
        <h1 itemprop="headline">
            {{ page.title | escape_once }}
        </h1>
        <p>
            <small>
                Posted on
                <time datetime="{{ page.date | date_to_xmlschema }}">
                    {{ page.date | date: "%B %d, %Y" }}
                </time>
                by
                {% if site.email %}
                <a href="mailto:{{ site.email }}" title="{{ site.email }}" target="_blank">
                    {{ site.owner }}
                </a>
                {% else %}
                {{ site.owner }}
                {% endif %}
            </small>
        </p>
    </header>

    <section itemprop="text">
        {{ content }}
    </section>

</article>

{% if site.disqus %}
<aside>
<div id="disqus_thread"></div>
<script>
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = '{{ page.url | absolute_url }}';  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = '{{ page.slug }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://{{ site.disqus }}.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</aside>
{% endif %}
